<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
      </div>
      <div class="column">
        <div class="menu">
          <p class="menu-label">Apps</p>
          <ul class="menu-list">
            <li><a href="/pitchblackwallpaper/">Pitch Black Wallpaper</a></li>
            <li><a href="/rgbcolorwallpaper/">RGB Color Wallpaper</a></li>
            <li><a href="/colormyname/">Color My Name</a></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="menu">
          <p class="menu-label">More</p>
          <ul class="menu-list">
            <li><a href="/support/">Support</a></li>
            <li><a href="/articles/">Articles</a></li>
            <li><a href="/reviews/">Reviews</a></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="menu">
          <p class="menu-label">Tecdrop</p>
          <ul class="menu-list">
            <li><a href="/about/">About Us</a></li>
            <li><a href="/about/presskit/">Press Kit</a></li>
            <li><a href="/about/privacy/">Privacy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</footer>